*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1
{
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  color: blue;
  margin: 5px;
  padding: 5px;
}
.container {
    margin: 0 auto;
    padding: 10px;
    background-color: #242424;
    height: auto;
    width: 60%;
    border-radius: 15px;
}
#display-area
{
  width: 93%;
  height: 90px;
  border-radius: 10px;
  margin: 13px auto;
  padding: 5px;
  background-color: #ffe678;
}
#items
{
  display: flex;
  flex: 1;
  width: 95%;
  margin: 0 auto;  
}
.left-items
{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  display: block;
  gap: 20px;
}
.left-items button
{
  margin: 10px 5px auto;
  width: 201px;
  height: 130px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
}
.bottom-nums button
{
  background-color: #fcfec7;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.bottom-nums > .num
{
  width: 64%;
}
.bottom-nums > .pointBtn
{
  width: 32%;
}
.signs
{
  display: block;
  width: 15%;
  gap: 20px;
}
.signs button
{
  background-color: #ecff;
  margin: 10px 5px auto;
  width: 150px;
  height: 130px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
}
.top-signs button
{
  background-color:#ccce55;
}
@media screen and (max-width: 600px) {
    .container {
        margin: 0 auto;
        width: 95%; /* Full width for smaller screens */
    }

   .left-items button {
        width: 100px; /* Adjust button size for smaller screens */
        height: 65px;
        font-size: 22px; /* Larger font for better readability */
    }
    .signs button
    {
      width: 60px;
      height: 45px;
    }
    .bottom-nums > .num
{
  width: 57%;
}
.bottom-nums > .pointBtn
{
  width: 32%;
}
}

@media screen and (max-width: 480px) {
    .container {
        margin: 0 auto;
        width: 95%; /* Full width for smaller screens */
    }

   .left-items button {
        width: 67px; /* Adjust button size for smaller screens */
        height: 45px;
        font-size: 22px; /* Larger font for better readability */
    }
    .signs button
    {
      width: 60px;
      height: 45px;
    }
    .bottom-nums > .num
{
  width: 57%;
}
.bottom-nums > .pointBtn
{
  width: 32%;
}
}
